# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# IDE/editor-specific files
.vscode/
.idea/
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini

# Logs and local database
*.log
*.sqlite3
*.db

# Compiled Cython files
*.so

# MyPy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Build artifacts
build/
dist/
*.egg-info/

# Docker-related
docker-compose.override.yml

# Environment variables
.env
*.env

# virtual-env
myenv/